In [3]:
# Pandas Tutorial by Corey Schafer on YouTube

In [4]:
# https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS

# Part 1: Getting Started

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data/survey_results_public.csv')

FileNotFoundError: [Errno 2] File b'data/survey_results_public.csv' does not exist: b'data/survey_results_public.csv'

In [ ]:
# Default display in jupyter is 20 columns
df

In [ ]:
# Number of rows and columns in tuple form
# Attribute not a method
df.shape

In [ ]:
# Number of rows and columns and datatypes for columns
# Is a method
df.info()

In [ ]:
# Object usually means string

In [ ]:
# See all columns:

In [ ]:
pd.set_option('display.max_columns', 85)

In [ ]:
df

In [ ]:
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [ ]:
# Questions that correspond with data columns
schema_df

In [ ]:
# View all 85 rows
pd.set_option('display.max_rows', 85)

In [ ]:
schema_df

In [ ]:
# First 5 rows or pass in value
df.head()

In [ ]:
# Last 5 rowss or pass in value
df.tail()

# Part 2: DataFrame and Series Basics - Selecting Rows & Columns

In [ ]:
# Similar to a dictionary with a list of values as the value for each key

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people['email']

In [ ]:
# Create DF from this dictionary

In [ ]:
df_example = pd.DataFrame(people)

In [ ]:
df_example

In [ ]:
df_example['email']

In [ ]:
# Returning a series rather than a list
type(df_example['email'])

In [ ]:
# Series: list of data with more functionality (1D array). 
# Rows of a single column

In [ ]:
# Another way to pull this information using dot notation
df_example.email

In [ ]:
# Risky in case the column name is the same as a DF method/attribute

In [ ]:
# Access multiple columns
df_example[['last', 'email']]

In [ ]:
# Returning another DF (filtered down) not a series

In [ ]:
df_example.columns

In [ ]:
# Get Rows using loc and iloc

In [ ]:
# loc/iloc[row(s), column(s)]

In [ ]:
# iloc: access rows by integer location

In [ ]:
# First Row (as a series)
df_example.iloc[0]

In [ ]:
# Select multiple rows (as a DF)
df_example.iloc[[0, 1]]

In [ ]:
# iloc can also select columns (second value)
# rows is first argument, columns is second

In [ ]:
df_example.iloc[[0, 1], 2]

In [ ]:
# loc searches by label (for rows this is the index)

In [ ]:
df_example.loc[0]

In [ ]:
# Works the same as iloc

In [ ]:
df_example.loc[[0, 1], 'email']

In [ ]:
df_example.loc[[0, 1], ['email', 'last']]

In [ ]:
df['Hobbyist']

In [ ]:
# How many answered Yes vs No?

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
# Grab specific row and column

In [ ]:
df.loc[0, 'Hobbyist'] # One person's results for Hobbyist

In [ ]:
# Can use list slicing (last value is inclusive, and does not use brackets)

In [ ]:
df.loc[0:2, 'Hobbyist']

In [ ]:
# Columns from Hobbyist to Employment

In [ ]:
df.loc[0:2, 'Hobbyist':'Employment']

# Part 3: Setting, Resetting, & Using Indexes

In [ ]:
df_example

In [ ]:
# Indexes are the numbers on the left side without a column name
# Integers by default
# Usually unique values

In [ ]:
# Set email addresses to index
df_example.set_index('email')

In [ ]:
# Did not change? Because not in place
df_example

In [ ]:
# Do in place to actually change
df_example.set_index('email', inplace=True)

In [ ]:
df_example

In [ ]:
df_example.index

In [ ]:
# Query by updated index
df_example.loc['CoreyMSchafer@gmail.com']

In [ ]:
df_example.loc['CoreyMSchafer@gmail.com', 'last']

In [ ]:
# Reset Index
df_example.reset_index(inplace=True)

In [ ]:
df_example

In [ ]:
# Set index while reading data in 
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df.loc[1] # First Respondent

In [ ]:
# Locate what a specific column meant without searching schema
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')
schema_df

In [ ]:
schema_df.loc['Hobbyist']

In [ ]:
# Example: MgrIdiot?

In [ ]:
schema_df.loc['MgrIdiot', 'QuestionText']

In [ ]:
# Sort index alphabetically
schema_df.sort_index() # pass in ascending=False for descending

# Part 4: Filtering & Conditional Filtering for Rows & Columns

In [ ]:
# Returns Series of all rows that meet the criteria
df_example['last'] == 'Doe'

In [ ]:
filt = (df_example['last'] == 'Doe') # Parentheses make it easier to read

In [ ]:
# Use filter on DF
# Can also put the filter directly into the brackets
df_example[filt]

In [ ]:
df_example.loc[filt] # Same results using loc

In [ ]:
df_example.loc[filt, 'email']

In [ ]:
# AND (&) / OR (|)

In [ ]:
filt = (df_example['last'] == 'Doe') & (df_example['first'] == 'John')

In [ ]:
df_example.loc[filt, 'email']

In [ ]:
filt = (df_example['last'] == 'Schafer') | (df_example['first'] == 'John')

In [ ]:
df_example.loc[filt, 'email']

In [ ]:
# tilde for everything that does NOT match
df_example.loc[~filt, 'email']

In [ ]:
# Salary over certain amount
high_salary = (df['ConvertedComp'] > 70000)

In [ ]:
df.loc[high_salary]

In [ ]:
# Filter out some specific columns from high salaries
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
# Filter even further by country

In [ ]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']

In [ ]:
filt = df['Country'].isin(countries)

In [ ]:
df.loc[filt, 'Country']

In [ ]:
# Only look at people who answered that they know Python

In [ ]:
# Separated by semicolumn
df['LanguageWorkedWith']

In [ ]:
# na=False means do nothing with the NaN valued rows
# Use string method to find Python within response
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [ ]:
df.loc[filt, 'LanguageWorkedWith']

In [ ]:
filt

# Part 5: Updating Rows & Columns - Modifying Data

In [ ]:
df_example = pd.DataFrame(people)

In [ ]:
# Rename all columns
df_example.columns = ['first_name', 'last_name', 'email']

In [ ]:
df_example

In [ ]:
# Edit all columns

In [ ]:
# Using list comprehension to capitalize all columns
df_example.columns = [x.upper() for x in df_example.columns]

In [ ]:
df_example

In [ ]:
# Replace underscores with spaces using string methods
df_example.columns = df_example.columns.str.replace('_', ' ')

In [ ]:
df_example

In [ ]:
# Change some columns by passing in a dictionary
# Keys = previous names, Values = new names
df_example.rename(columns={'FIRST NAME': 'first', 'LAST NAME': 'last', 'EMAIL': 'email'}, inplace=True)

In [ ]:
df_example

In [ ]:
# Updating Data in Rows

In [ ]:
# Update a single value

In [ ]:
# Change all values using a list
df_example.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [ ]:
df_example

In [ ]:
# Specify columns to change using loc

In [ ]:
df_example.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [ ]:
df_example

In [ ]:
# Change a single value

In [ ]:
df_example.loc[2, 'last'] = 'Smith'

In [ ]:
df_example

In [ ]:
# Same thing using 'at'
df_example.at[2, 'last'] = 'Doe'

In [ ]:
df_example

In [ ]:
# Common Mistake: changing value without using .loc or .at
filt = (df_example['email'] == 'JohnDoe@email.com')
df_example[filt]['last'] = 'Smith'

In [ ]:
# Must use loc or at
df_example.loc[filt, 'last'] = 'Smith'

In [ ]:
df_example

In [ ]:
# Update multiple rows

In [ ]:
# All emails lowercase using string method
df_example['email'].str.lower()

In [ ]:
# Actually make the changes to the DF 
df_example['email'] = df_example['email'].str.lower()

In [ ]:
df_example

In [ ]:
# Four Methods

In [ ]:
# 1) Apply

In [ ]:
# Used for calling funtion on values
# Can be used on DF or series

In [ ]:
# Length of all email addresses
df_example['email'].apply(len)

In [ ]:
# Function to apply uppercase
def update_email(email):
    return email.upper()

In [ ]:
df_example['email'].apply(update_email)

In [ ]:
# Implement changes
df_example['email'] = df_example['email'].apply(update_email)

In [ ]:
# Use lambda function to change back to lower
df_example['email'] = df_example['email'].apply(lambda x: x.lower())

In [ ]:
df_example

In [ ]:
# Apply on DF objects rather than series

In [ ]:
# Runs function on each row or column on the DF

In [ ]:
# Minimum value for each column/series (they are strings)
df_example.apply(pd.Series.min)

In [ ]:
# Using lambda on series object
df_example.apply(lambda x: x.min())

In [ ]:
# 2) Map

In [ ]:
# Only works on a series object

In [ ]:
# Subtitutes each value in a series with another value

In [ ]:
# Values not substituted converted to NaN
df_example['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

In [ ]:
# If you want to keep the old value and not get the NaN, use the replace method

In [ ]:
# 3) ApplyMap

In [ ]:
# Only works on DF (not on series objects)

In [ ]:
# Applies to each individual value
df_example.applymap(len)

In [ ]:
# This only works because all value are strings
df_example.applymap(str.lower)

In [ ]:
# 4) Replace

In [ ]:
df_example['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [ ]:
# Examples

In [ ]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'})

In [ ]:
# Once you realize you accomplished what you were attempting, you can apply the change with inplace

In [ ]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

In [ ]:
df

In [ ]:
# Convert Yes and No answers in Hobbyist column to boolean true and false using the Map method

In [ ]:
df['Hobbyist'].map({'Yes': True, 'No': False})

In [ ]:
# No inplace for map so just use assignnment
# Anthing else not in dictionary converted to NaN
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})
# Use replace method instead for no NaN

# Part 6: Add/Remove Rows & Columns from DataFrames

In [ ]:
# Add/Remove Columns

In [ ]:
# Combine first and last name
df_example['first'] + ' ' + df_example['last']

In [ ]:
# Add these values to a new column
df_example['full_name'] = df_example['first'] + ' ' + df_example['last']

In [ ]:
df_example

In [ ]:
# Get rid of multiple columns (or one)
# Apply changes with inplace
df_example.drop(columns=['first', 'last'], inplace=True)

In [ ]:
# Split full name column into two columns
# Expand splits the lists with the name values into two columns
df_example['full_name'].str.split(' ', expand=True)

In [ ]:
# Add them as columns in the DF
df_example[['first', 'last']] = df_example['full_name'].str.split(' ', expand=True)

In [ ]:
df_example

In [ ]:
# Add/Remove Rows

In [ ]:
# Add a single row of data
# Error if you do not have an index (can ignore this)
# NaN filled for missing values
df_example.append({'first': 'Tony'}, ignore_index=True)

In [ ]:
# Append DF to existing DF

In [ ]:
# New DF
people = {
    "first": ["Tony", 'Steve'], 
    "last": ["Stark", 'Rogers'], 
    "email": ["IronMan@avenge.com", 'Cap@avenge.com']
}

In [ ]:
df2 = pd.DataFrame(people)
df2

In [ ]:
# Sort=False prevents warning about how the columns are sorted when appending
df_example.append(df2, ignore_index=True, sort=False)

In [ ]:
df_example = df_example.append(df2, ignore_index=True, sort=False)

In [ ]:
df_example

In [ ]:
# Drop row by index
df_example.drop(index=4)

In [ ]:
# Drop rows using conditionals (could use loc/iloc)
df_example.drop(index=df_example[df_example['last'] == 'Doe'].index)

In [ ]:
# Might be cleaner to pull conditional out then execute
# Exact same result
filt = df_example['last'] == 'Doe'
df_example.drop(index=df_example[filt].index)

# Part 7: Sorting Data

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John', 'Adam'], 
    "last": ["Schafer", 'Doe', 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', ' A@email.com']
}

In [ ]:
df_example = pd.DataFrame(people)

In [ ]:
# Sort by last name
# Pass in ascending=False for descending
df_example.sort_values(by='last')

In [ ]:
# Sort by multipe columns
df_example.sort_values(by=['last', 'first'])

In [ ]:
# Sort by multiple columns with different corresponding booleans for ascending
df_example.sort_values(by=['last', 'first'], ascending=[False, True])

In [ ]:
# Sort by index
df_example.sort_index()

In [ ]:
# Sort a single column/series
df_example['last'].sort_values()

In [ ]:
# Sort survey results by country name
df.sort_values(by='Country', inplace=True)

In [ ]:
# Sort countries in ascending and salaries in descending
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [ ]:
df[['Country', 'SalaryUSD']].head(50)

In [ ]:
# Finding largest and smallest values from a DF

In [ ]:
# 10 Highest salaries from survey
df['SalaryUSD'].nlargest(10)

In [ ]:
# Shows full rows rather than series level
df.nlargest(10, 'SalaryUSD')

In [ ]:
# use .nsmallest for smallest values

# Part 8: Grouping and Aggregating - Analyzing and Exploring the Data

In [ ]:
# Salary Median (ignoring NaN)
df['SalaryUSD'].median()

In [ ]:
# Median on DF
df.median()

In [ ]:
# Summary of DF
# Can use describe method on column series
# Count is how many values are not NaN
df.describe()

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
# Most popular social media?
schema_df.loc['SocialMedia']

In [ ]:
df['SocialMedia'].value_counts()

In [ ]:
# Percentage instead of raw numbers
df['SocialMedia'].value_counts(normalize=True)

In [ ]:
# Most popular by country using grouping

In [ ]:
# Uses groupby function (combination of splitting, applying a function, and combining a result)

In [ ]:
df['Country'].value_counts()

In [ ]:
country_grp = df.groupby(['Country'])

In [ ]:
# This object is a bunch of groups

In [ ]:
# Grab a specific group by country name
country_grp.get_group('United States')

In [ ]:
# Most popular social media by country
# Contains more than one index
country_grp['SocialMedia'].value_counts().head(50)

In [ ]:
# For one country
# Reminder: pass normalize=True into the value_counts() function to see %
country_grp['SocialMedia'].value_counts().loc['India']

In [ ]:
# Median salary by country
country_grp['SalaryUSD'].median()

In [ ]:
# Median Salary for specific country
country_grp['SalaryUSD'].median().loc['Germany']

In [ ]:
# Mean and median using aggregator
country_grp['SalaryUSD'].agg(['median', 'mean'])

In [ ]:
country_grp['SalaryUSD'].agg(['median', 'mean']).loc['Canada']

In [ ]:
# How many people in each country know python?

In [ ]:
# One country
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

In [ ]:
# Use sum function to count (True=1, False=0)
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

In [ ]:
# Use apply to use function on multiple groupby objects

In [ ]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [ ]:
# Percentage of country? (multistep problem)

In [ ]:
# Total # of respondents
country_respondents = df['Country'].value_counts()
country_respondents

In [ ]:
# People who know Python
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

In [ ]:
# Can combine series using concat function
# Axis=columns because default is row but we want to match the indexes
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)

In [ ]:
python_df

In [ ]:
# Rename the columns to make more sense for this context
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [ ]:
python_df

In [ ]:
# Calculate %
python_df['PctKnowsPython'] = (python_df['NumKnowsPython'] / python_df['NumRespondents']) * 100
python_df

In [ ]:
# Sort by largest
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df

In [ ]:
python_df.head(50)

In [ ]:
python_df.loc['Japan']

# Part 9: Cleaning Data - Casting DataTypes & Handling Missing Values

In [ ]:
import numpy as np

In [ ]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [ ]:
df_example = pd.DataFrame(people)
df_example

In [ ]:
# Drop missing values

In [ ]:
# Remove rows with NA values for specific columns

In [ ]:
# Using default arguments
df_example.dropna()

In [ ]:
# Here are the default arguments
df_example.dropna(axis='index', how='any')
# Axis can be index or columns (to drop columns with missing values)
# How is the criteria used to drop (any missing values)

In [ ]:
# Only drop when all values missing
df_example.dropna(axis='index', how='all')

In [ ]:
# Drop columns with all missing values
df_example.dropna(axis='columns', how='all')

In [ ]:
# Drop columns with any missing values
df_example.dropna(axis='columns', how='any')
# Empty DataFrame

In [ ]:
# Drop rows with missing values in specific column
# Pass in a subset argument
df_example.dropna(axis='index', how='any', subset=['email'])

In [ ]:
# Need last name or email address
df_example.dropna(axis='index', how='all', subset=['last', 'email'])

In [ ]:
# Handle the customized missing values (Not None or NaN)
# Replace with NaN (from numpy)
df_example.replace('NA', np.nan, inplace=True)
df_example.replace('Missing', np.nan, inplace=True)

In [ ]:
df_example

In [ ]:
# Test if they are truly NA
df_example.isna()

In [ ]:
# Fill in NA values
df_example.fillna('MISSING')
# for numeric you might consider replacing with something else like a 0

In [ ]:
# Casting DataTypes
df_example.dtypes

In [ ]:
# These are not numbers like we need them to be to perform calculations

In [ ]:
# Need to convert to numbers
# NaN values to numbers must use float datatype
# Because NaN is a float under the hood

In [ ]:
df_example['age'] = df_example['age'].astype(float)

In [ ]:
df_example.dtypes

In [ ]:
# Does not impact NaN

In [ ]:
df_example['age'].mean()

In [ ]:
# DF object has as type method as well to convert all values
# DF.astype()

In [ ]:
# Handle missing values when loading csv in
na_vals = ['NA', 'Missing']
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=na_vals)
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [ ]:
# Average years of coding experience (multistep problem)

In [ ]:
df['YearsCode'].head(10)

In [ ]:
# Convert to float then compute average

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
# There was a string option for this response
# Check unique values for this column
df['YearsCode'].unique()

In [ ]:
# Replace strings with numbers

In [ ]:
# Less than 1 to 0
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [ ]:
# More than 50 to 51
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [ ]:
# Convert to float
df['YearsCode'] = df['YearsCode'].astype(float)

In [ ]:
df['YearsCode'].mean()

In [ ]:
df['YearsCode'].median()

# Part 10: Working with Dates and Time Series Data

In [ ]:
# Crypto data for Ethereum
df = pd.read_csv('data/ETH_1h.csv')

In [ ]:
df.head()

In [ ]:
# Not a datetime object (run a datetime method to check)
df.loc[0, 'Date'].day_name()

In [ ]:
# Convert column
# df['Date'] = pd.to_datetime(df['Date'])
# This gives an error because of the difference in format

In [ ]:
# Find the codes within python documentation
# http://bit.ly/python-dt-fmt

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')

In [ ]:
df['Date']

In [ ]:
df.loc[0, 'Date'].day_name()

In [ ]:
# Convert to date while loading in data (using function)
d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p')
df = pd.read_csv('data/ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser)

In [ ]:
df.head()

In [ ]:
df['Date'].dt.day_name()

In [ ]:
df['DayOfWeek'] = df['Date'].dt.day_name()
df

In [ ]:
# Earliest Date
df['Date'].min()

In [ ]:
# Most Recent Date
df['Date'].max()

In [ ]:
# Time Delta (time between)
df['Date'].max() - df['Date'].min()

In [ ]:
# View data for 2020
filt = (df['Date'] >= '2020')
df.loc[filt]

In [ ]:
# View data between 2019 and 2020
filt = (df['Date'] >= '2019') & (df['Date'] < '2020')
df.loc[filt]

In [ ]:
# Use DateTimes instead of strings
filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))
df.loc[filt]

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
df

In [ ]:
df['2019']

In [ ]:
# Use a slice for range
df['2020-01':'2020-02']

In [ ]:
df['2020-01':'2020-02']['Close'].mean()

In [ ]:
# Daily rather than hourly

In [ ]:
# Highest value for a day
df['2020-01-01']['High']

In [ ]:
df['2020-01-01']['High'].max()

In [ ]:
# Resample for high by day
# http://bit.ly/pandas-dt-fmt
df['High'].resample('D').max()

In [ ]:
highs = df['High'].resample('D').max()
highs['2020-01-01']

In [ ]:
%matplotlib inline

In [ ]:
highs.plot()

In [ ]:
# Resample on entire DF for certain measures (on multiple columns)
# For same aggregation
df.resample('W').mean()

In [ ]:
# For different aggregations on different columns
# Use agg method
df.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

In [ ]:
# Part 11: Reading/Writing Data to Different Sources (Excel, JSON, SQL, ETC)

In [ ]:
filt = (df['Country'] == 'India')
india_df = df.loc[filt]
india_df.head()